<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ColorSwitcher</display-name>
   <welcome-file-list>
    <welcome-file>upload.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.pickpamphlet.main.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/dochange</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>DownloadServlet</servlet-name>
  <servlet-class>com.pickpamphlet.main.DownloadServlet</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>DownloadServlet</servlet-name>
  <url-pattern>/download</url-pattern>
</servlet-mapping>
</web-app>